{% extends 'base_shop.html' %}

{% block love %}
{% for good in goods  %}



		    <div class="bsa-main-content">
		    <!-- 内容都应该被包裹在此-->
		    <div class="card border-0 shadow-sm">
		        <div class="row g-0">
		            <div class="col-md-4 border-end">
		                <img src="{{ good.img_url.url }}" class="img-fluid" style="width: 450px;height: 400px">
{#		                <div class="row mb-3 row-cols-auto g-2 justify-content-center mt-3">#}
{#		                    <div class="col"><img src="https://temp.im/400x400?text=shop-img" width="70"#}
{#		                                          class="border rounded bsa-cursor-pointer" alt=""></div>#}
{#		                    <div class="col"><img src="https://temp.im/400x400?text=shop-img" width="70"#}
{#		                                          class="border rounded bsa-cursor-pointer" alt=""></div>#}
{#		                    <div class="col"><img src="https://temp.im/400x400?text=shop-img" width="70"#}
{#		                                          class="border rounded bsa-cursor-pointer" alt=""></div>#}
{#		                    <div class="col"><img src="https://temp.im/400x400?text=shop-img" width="70"#}
{#		                                          class="border rounded bsa-cursor-pointer" alt=""></div>#}
{#		                </div>#}
		            </div>
		            <div class="col-md-8">
		                <div class="card-body">
		                    <h4 class="card-title mb-4">
		                        {{ good.comment }}
		                    </h4>
		                    <div class="row g-3 align-items-center">
                                <div class="col-sm-3"> trade name</div>
		                        <div class="col-sm-9">
		                            <h4 class="fw-bold text-danger">{{ good.name }}</h4>
		                        </div>
		                        <div class="col-sm-3">price</div>
		                        <div class="col-sm-9">
		                            <h4 class="fw-bold text-danger">{{ good.price }}</h4>
		                        </div>
		                        <div class="col-sm-3"></div>
		                        <div class="col-sm-9">

		                        </div>
		                        <div class="col-12">
		                            <div class="dropdown-divider"></div>
		                            <div class="text-center">

		                            </div>
		                            <div class="dropdown-divider"></div>
		                        </div>

		                        <div class="col-sm-3"></div>
		                        <div class="col-sm-9">
		                            <div class="btn-group" role="group" aria-label="First group">

		                            </div>
		                        </div>
		                        <div class="col-sm-3"></div>
		                        <div class="col-sm-9">
		                            <div class="d-flex align-items-center gap-2">


		                            </div>
		                        </div>
{#		                        <div class="col-sm-3">quantity</div>#}
{#		                        <div class="col-sm-9 col-md-4">#}
{#		                            <div class="input-group mb-3">#}
{#		                                <button class="btn btn-outline-secondary" type="button">+</button>#}
{#		                                <input type="text" class="form-control" aria-label="购买数量" value="10">#}
{#		                                <button class="btn btn-outline-secondary" type="button">-</button>#}
{#		                            </div>#}
{##}
{#		                        </div>#}
		                    </div>

		                    <div class="d-flex gap-3 mt-3">
		                                  <div class="col">
                     <button type="button" class="btn btn-outline-success position-relative me-lg-5">
                         <a class="nav-link" href="/shop/page/{{ good.id }}">
                        <i class="bi bi-grid me-1"></i>Options
                      </a>
                     </button>
                      </div>
		                               <div class="col">
                      <button type="button" class="btn btn-outline-success position-relative me-lg-5">
                         <a class="nav-link" href="/shop/add/cart/{{ good.id }}">
                        <i class="bi bi-cart me-1"></i>Add to cart
                      </a>

                     </button>
                      </div>
                                <div class="col">
{#                                <div class="d-flex gap-3 mt-3">#}
                                    <button type="button" class="btn btn-outline-success position-relative me-lg-5" style="border: none">
	                    <a href="/shop/love/remove/{{ user.id }}/{{ good.id }}/" class="btn btn-outline-primary">
	                        <i class='bi bi-dash-circle'></i>
	                        <span class="text">Remove</span>
	                    </a>
                                    </button>
                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <hr/>
		    </div>
			</div>
		{% endfor %}
{% endblock %}